// Common
$background-dark-theme: #111111;

// Button
$button-font-size-small: 16px;
$button-font-size-standart: 20px;
$button-font-size-big: 24px;
$button-color-standart: #131e20;

$base-border-color: #00ffae;